<div class="container">
    <div class="mb-3">
        <label for="surveyName">問卷名稱：</label>
        <input type="text" id="surveyName" placeholder="以關鍵字搜尋" #filter class="form-control">
    </div>

    <label class="text">統計時間:</label>
    <div class="mb-3">
        <div class="row">
            <div class="col mb-2">
                <div class="input-group">
                    <input class="form-control" placeholder="起始時間" name="startDate" [(ngModel)]="startDate"
                        ngbDatepicker #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <mat-icon>calendar_today</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-auto text-center mb-2">
                <label>到:</label>
            </div>
            <div class="col mb-2">
                <div class="input-group">
                    <input class="form-control" placeholder="結束時間" name="endDate" [(ngModel)]="endDate" ngbDatepicker
                        #d2="ngbDatepicker" />
                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                        <mat-icon>calendar_today</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-3">
        <button class="btn btn-primary" type="button">搜尋</button>
    </div> <!-- (click)="filterResults(filter.value)" -->
</div>