.container {
    height: 100%;
    width: 100%;
    background-image: url('https://media.playpark.net/MapleStory/uploadimages/Wallpaper_BH2_1920x1080.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}