<div class="container">
  <app-surveymanage></app-surveymanage>

  <div class="label-container">
    <div class="surveyname">
      <label for="surveyName" class="text">問卷名稱：</label>
      <input id="surveyName" style="width: 250px;" type="text" class="form-control">
    </div>

    <div class="surveycontent" style="margin-top: 10px;">
      <label for="surveyDescription" class="text">問卷說明：</label>
      <textarea id="surveyDescription" style="height: 200px; width: 250px;" class="form-control"></textarea>
    </div>

    <div class="mb-3" style="margin-top: 10px;">
      <div class="row align-items-center">
        <label class="text col-form-label col-auto">開始時間:</label>
        <div class="col-auto">
          <div class="input-group align-items-center">
            <input class="form-control" placeholder="起始時間" name="startDate" [(ngModel)]="startDate" ngbDatepicker
              #d="ngbDatepicker" style="height: 30px; width: 150px;" />
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button" style="height: 30px;">
              <mat-icon style="font-size: 16px; vertical-align: middle;">calendar_today</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3" style="margin-top: 10px;">
      <div class="row align-items-center">
        <label class="text col-form-label col-auto">結束時間:</label>
        <div class="col-auto">
          <div class="input-group align-items-center">
            <input class="form-control" placeholder="結束時間" name="endDate" [(ngModel)]="endDate" ngbDatepicker
              #dEnd="ngbDatepicker" style="height: 30px; width: 150px;" />
            <button class="btn btn-outline-secondary" (click)="dEnd.toggle()" type="button" style="height: 30px;">
              <mat-icon style="font-size: 16px; vertical-align: middle;">calendar_today</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="btn d-flex" style="gap: 10px; margin-top: 10px;">
      <button (click)="gotosuveylist()" type="button">取消</button>
      <button (click)="gotosuveyquiz()" type="submit">下一步</button>
    </div>
  </div>
</div>
